.contenedor {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.fila {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input,
select {
  padding: 6px;
  width: 200px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #f0f0f0;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.dato {
  font-weight: bold;
  background-color: #fafafa;
}

input[type="number"],
input[type="text"] {
  width: 95%;
}
