<div class="register-container">
  <div class="register-card">
    <h2>📝 Registro</h2>
    <form (ngSubmit)="onRegister()">
      <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre" required>
      <input type="text" [(ngModel)]="apellidos" name="apellidos" placeholder="Apellidos" required>
      <input type="email" [(ngModel)]="email" name="email" placeholder="Correo" required>
      <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required>

      <p *ngIf="error" class="error">{{ error }}</p>

      <button type="submit">Registrar</button>
    </form>
  </div>
</div>


<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <h3>{{ success }}</h3>
    <p>¿Deseas añadir otro usuario o volver al inicio?</p>

    <div class="modal-buttons">
      <button (click)="addAnother()">➕ Añadir otro</button>
      <button (click)="goHome()">🏠 Volver al inicio</button>
    </div>
  </div>
</div>
