<div class="container">
  <div class="top-left">
    <img 
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJB5shGmMTkxR_7EbJShCYrMILIEhIH13zGw&s" 
      alt="Logo" 
      width="100"
      class="logo"
    >
  </div>

  <div class="content">
    <h1 class="blue-text">Bienvenido a la junta </h1>
    <h2 class="green-text">Grupo BSM Ingenio Central el Potreo </h2>
  </div>

  <div class="bottom-section">
    <p class="week-display">Semana {{ currentWeek }} del ciclo de Zafra 2024-2025</p>
    <p class="date-display">{{ currentDate | date:'fullDate':'':'es' }}</p>
  </div>
</div>