<div class="loading" *ngIf="isLoading">
  <p>Cargando datos meteorológicos...</p>
</div>

<div class="compact-weather-grid">
  <div class="frame" *ngFor="let item of weatherDataList">
    <div *ngIf="item.error" class="error-message">
      {{ item.error }}
    </div>

    <div *ngIf="item.data" class="box-clima">
      <div class="box-animate" [ngClass]="{
        'bg-day': isDay(item.data.icon) && !isCloudy(item.data.icon) && !isRainy(item.data.icon),
        'bg-night': !isDay(item.data.icon) && !isCloudy(item.data.icon) && !isRainy(item.data.icon),
        'bg-cloudy-day': isDay(item.data.icon) && (isCloudy(item.data.icon) || isRainy(item.data.icon)),
        'bg-cloudy-night': !isDay(item.data.icon) && (isCloudy(item.data.icon) || isRainy(item.data.icon))
      }">
        <div class="header-card">
          <h3>{{ item.data.city }}, Veracruz</h3>
          <p>{{ formatDate(item.data.timestamp) }} {{ formatTime(item.data.timestamp) }}</p>
        </div>

        <!-- Animation Elements -->
        <ng-container *ngIf="!isRainy(item.data.icon) && !isCloudy(item.data.icon)">
          <div *ngIf="isDay(item.data.icon)" class="sol"></div>
          <div *ngIf="!isDay(item.data.icon)" class="luna"></div>
        </ng-container>

        <ng-container *ngIf="isCloudy(item.data.icon) || isRainy(item.data.icon)">
          <div class="nuve1"></div>
          <div class="nuve2"></div>
          <div class="nuve3"></div>
          <div class="nuve4"></div>
          <div class="nuve5"></div>
        </ng-container>

        <ng-container *ngIf="isRainy(item.data.icon)">
          <div class="gotas gota-peque1"></div>
          <div class="gotas gota-peque2"></div>
          <div class="gotas gota-peque3"></div>
          <div class="gotas gota-peque4"></div>
          <div class="gotas gota-peque5"></div>
          <div class="gotas gota-peque6"></div>
          <div class="gotas gota-peque7"></div>
          <div class="gotas gota-media1"></div>
          <div class="gotas gota-media2"></div>
          <div class="gotas gota-media3"></div>
          <div class="gotas gota-media4"></div>
          <div class="gotas gota-media5"></div>
          <div class="gotas gota-media6"></div>
          <div class="gotas gota-media7"></div>
          <div class="gotas gota-grande1"></div>
          <div class="gotas gota-grande2"></div>
          <div class="gotas gota-grande3"></div>
          <div class="gotas gota-grande4"></div>
          <div class="gotas gota-grande5"></div>
          <div class="gotas gota-grande6"></div>
          <div class="gotas gota-grande7"></div>
        </ng-container>
      </div>
      
      <div class="box-info-clima">
        <div class="temperatura" [title]="capitalize(item.data.description)">
          <span>{{ item.data.temperature | number:'1.0-0' }}°</span>
          <i [ngClass]="getWeatherIconClass(item.data.icon).class" [ngStyle]="{'color': getWeatherIconClass(item.data.icon).color}"></i>
        </div>
        <div class="caja-datos">
          <div class="dato-cantidad">
            <p><b>Viento:</b> {{ item.data.windSpeed }} m/s</p>
            <p><b>Humedad:</b> {{ item.data.humidity }}%</p>
            <p><b>S. Térmica:</b> {{ item.data.feelsLike | number:'1.0-0' }}°C</p>
          </div>
          <div class="datos-dias">
            <p class="dia1"><b>Pronóstico</b></p>
            <p *ngFor="let p of periods" class="dia1">
               {{ capitalize(p) }} {{ item.data.periodos[p].temperature | number:'1.0-0' }}°
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>