<div class="container">
  <button class="floating-toggle-btn" (click)="toggleSidebar()">
    {{ isSidebarHidden ? '☰' : '✕' }}
  </button>

  <div class="sidebar" [class.hidden]="isSidebarHidden">
    <div class="sidebar-header">
      <span class="sidebar-title">Menú</span>
    </div>
    
    <ul class="menu">
      
      <li class="menu-item">
        <div class="menu-header" (click)="toggleMenu('prueba')">
          <span>Prueba</span>
          <span class="menu-icon">{{ isMenuOpen('prueba') ? '▼' : '►' }}</span>
        </div>
        <ul class="submenu" [class.open]="isMenuOpen('prueba')">
          <li (click)="showChart('bar')">Bar Chart</li>
          <li (click)="showChart('line')">Line Chart</li>
          <li (click)="showChart('column')">Column Chart</li>
          <li (click)="showChart('combo')">Combo Chart</li>
          <li (click)="showChart('table')">Table</li>
          <li (click)="showChart('new-bar')">New Bar Chart</li>
          <li (click)="showChart('new-line')">New Line Chart</li>
          <li (click)="showChart('multi-chart')">Multi Chart</li>
          <li (click)="showChart('new-table')">New table</li>
          <li (click)="showChart('stacked-bar-chart')">Stacked-bar-chart</li>
        </ul>
      </li>
      
      
      <li class="menu-item">
        <div class="menu-header" (click)="toggleMenu('clima')">
          <span>Clima</span>
          <span class="menu-icon">{{ isMenuOpen('clima') ? '▼' : '►' }}</span>
        </div>
        <ul class="submenu" [class.open]="isMenuOpen('clima')">
          <li (click)="showChart('clima')">Componente Clima</li>
          <li (click)="showChart('turbidez-jugo-claro')">Turbidez Jugo Claro</li>
          <li (click)="showChart('rsd')">RSD</li>
          <li (click)="showChart('rendimiento-cristales')">Rendimiento Cristales</li>
          <li (click)="showChart('molienda')">Molienda</li>
          <li (click)="showChart('bagazo')">Bagazo</li>
          <li (click)="showChart('imbibicion')">Imbibición</li>
          <li (click)="showChart('reductores')">Reductores</li>
          <li (click)="showChart('ph-claro-filtrado')">PH Claro Filtrado</li>
          <li (click)="showChart('ph-desmenuzado-mezclado')">PH Desmenuzado Mezclado</li>
          <li (click)="showChart('ph-acm')">ph-acm</li>
          <li (click)="showChart('ph-promedio')">PH Promedio</li>
          <li (click)="showChart('reductores-claro-meladura')">Reductores Claro Meladura</li>
          <li (click)="showChart('reductores-promedio')">Reductores Promedio</li>
          <li (click)="showChart('brix-meladura')">Brix Meladura</li>
          <li (click)="showChart('pureza-miel-final')">Pureza Miel Final</li>
          <li (click)="showChart('molida-produccion')">Molida Producción</li>
          <li (click)="showChart('molida-rendimiento')">Molida Rendimiento</li>
          <li (click)="showChart('sedimentos')">sedimentos</li>
          <li (click)="showChart('pureza-jugo')">pureza-jugo</li>
          <li (click)="showChart('rendimiento-cristales-dia')">rendimiento-cristales-dia</li>
          <li (click)="showChart('color')">Color</li>
          <li (click)="showChart('bx-pza-miel-final')">bx-pza-miel-final</li>
          <li (click)="showChart('color-fcr')">color-fcr</li>
          <li (click)="showChart('dextranas-solidos')">dextranas-solidos</li>
          <li (click)="showChart('ph-fcr')">ph-fcr</li>
          <li (click)="showChart('ton-vapor-cana')">ton-vapor-cana</li>
          <li (click)="showChart('turbidez-azucar')">turbidez-azucar</li>
          <li (click)="showChart('clima-dia')">clima-dia</li>
          <li (click)="showChart('clima-semana')">clima-semana</li>
          <li (click)="showChart('eficiencia-fabrica')">eficiencia-fabrica</li>
          <li (click)="showChart('cachaza-cana')">cachaza-cana</li>
          <li (click)="showChart('cana-molida')">cana-molida</li>
          <li (click)="showChart('dextranas-brix')">dextranas-brix</li>
          <li (click)="showChart('perdidas-cana')">perdidas-cana</li>
          <li (click)="showChart('pol-cana')">pol-cana</li>
          <li (click)="showChart('pza-jugo-mezclado-tierra')">pza-jugo-mezclado-tierra</li>
          <li (click)="showChart('cortadores')">cortadores</li>
          <li (click)=" showChart('frescura-hora')">frescura-hora</li>
          <li (click)="showChart('perdidas-cosechamiento')">perdidas-cosechamiento</li>
          <li (click)="showChart('ph-tratado')">ph-tratado</li>
          <li (click)="showChart('masa-cocida')">masa-cocida</li>
          <li (click)="showChart('rendimiento-cristales-semana')">rendimiento-cristales-semana</li>
          <li (click)="showChart('recirculacion')">recirculacion</li>
          <li (click)="showChart('comparativo-abl')">Comparativo ABL</li>
          <li (click)="showChart('comparativo-ton-solidos')">Comparativo Ton Sólidos</li>
          <li (click)="showChart('consumo-bagazo-astilla')">Consumo Bagazo/Astilla</li>
          <li (click)="showChart('consumo-agua-m3')">Consumo Agua m3</li>
          <li (click)="showChart('consumo-agua-lts')">Consumo Agua lts</li>
          <li (click)="showChart('consumo-gral-agua')">Consumo General Agua</li>
          <li (click)="showChart('descarga-gral-agua')">Descarga General Agua</li>
          <li (click)="showChart('pol-descarga-fabrica')">POL Descarga Fábrica</li>
          <li (click)="showChart('ph-descarga-fabrica')">PH Descarga Fábrica</li>
          <li (click)="showChart('pol-agua-torre')">POL Agua Torre</li>
          <li (click)="showChart('ph-agua-torre')">PH Agua Torre</li>
          <li (click)="showChart('ton-pol-perdidas')">ton-pol-perdidas</li>
          <li (click)="showChart('frescura-rsd')">frescura-rsd</li>
          <li (click)="showChart('ton-cana-imbibicion')">ton-cana-imbibicion</li>
          <li (click)="showChart('cana-mayor')">cana-mayor</li>
          <li (click)="showChart('cana-accidentada')">cana-accidentada</li>
          <li (click)="showChart('cana-corralon')">cana-corralon</li>
          <li (click)="showChart('fibra-pol')">fibra-pol</li>
          <li (click)="showChart('ton-pol-cachaza')">ton-pol-cachaza</li>
          <li (click)="showChart('color-icumsa')">color-icumsa</li>
          <li (click)="showChart('silos')">silos </li>
          <li (click)="showChart('tamano-grano')">tamano-grano</li>
          <li (click)="showChart('reporte-cosecha')">reporte-cosecha</li>
          <li (click)="showChart('rangos-frescura')">rangos-frescura </li>
        </ul>
      </li>
    </ul>
  </div>
  

  <div class="content" [class.full-width]="isSidebarHidden">
    <div class="content-container">
      <app-bar-chart *ngIf="currentChart === 'bar'"></app-bar-chart>
      <app-line-chart *ngIf="currentChart === 'line'"></app-line-chart>
      <app-column-chart *ngIf="currentChart === 'column'"></app-column-chart>
      <app-combo-chart *ngIf="currentChart === 'combo'"></app-combo-chart>
      <app-table *ngIf="currentChart === 'table'"></app-table>
      <app-new-bar-chart *ngIf="currentChart === 'new-bar'"></app-new-bar-chart>
      <app-new-line-chart *ngIf="currentChart === 'new-line'"></app-new-line-chart>
      <app-multi-chart *ngIf="currentChart === 'multi-chart'"></app-multi-chart>
      <app-new-table *ngIf="currentChart === 'new-table'"></app-new-table>
      <app-stacked-bar-chart *ngIf="currentChart === 'stacked-bar-chart'"></app-stacked-bar-chart>
      <app-clima *ngIf="currentChart === 'clima'"></app-clima>
      <app-turbidez-jugo-claro-chart *ngIf="currentChart === 'turbidez-jugo-claro'"></app-turbidez-jugo-claro-chart>
      <app-rsd *ngIf="currentChart === 'rsd'"></app-rsd>
      <app-rendimiento-cristales *ngIf="currentChart === 'rendimiento-cristales'"></app-rendimiento-cristales>
      <app-molienda *ngIf="currentChart === 'molienda'"></app-molienda>
      <app-bagazo *ngIf="currentChart === 'bagazo'"></app-bagazo>
      <app-imbibicion *ngIf="currentChart === 'imbibicion'"></app-imbibicion>
      <app-reductores *ngIf="currentChart === 'reductores'"></app-reductores>
      <app-ph-claro-filtrado *ngIf="currentChart === 'ph-claro-filtrado'"></app-ph-claro-filtrado>
      <app-ph-desmenuzado-mezclado *ngIf="currentChart === 'ph-desmenuzado-mezclado'"></app-ph-desmenuzado-mezclado>
      <app-ph-promedio *ngIf="currentChart === 'ph-promedio'"></app-ph-promedio>
      <app-reductores-claro-meladura *ngIf="currentChart === 'reductores-claro-meladura'"></app-reductores-claro-meladura>
      <app-reductores-promedio *ngIf="currentChart === 'reductores-promedio'"></app-reductores-promedio>
      <app-brix-meladura *ngIf="currentChart === 'brix-meladura'"></app-brix-meladura>
      <app-pureza-miel-final *ngIf="currentChart === 'pureza-miel-final'"></app-pureza-miel-final>
      <app-molida-produccion *ngIf="currentChart === 'molida-produccion'"></app-molida-produccion>
      <app-molida-rendimiento *ngIf="currentChart === 'molida-rendimiento'"></app-molida-rendimiento>
      <app-sedimentos *ngIf="currentChart === 'sedimentos'"></app-sedimentos>
      <app-pureza-jugo *ngIf="currentChart === 'pureza-jugo'"></app-pureza-jugo>
      <app-rendimiento-cristales-dia *ngIf="currentChart === 'rendimiento-cristales-dia'"></app-rendimiento-cristales-dia>
      <app-color *ngIf="currentChart === 'color'"></app-color>
      <app-bx-pza-miel-final *ngIf="currentChart === 'bx-pza-miel-final'"></app-bx-pza-miel-final>
      <app-color-fcr *ngIf="currentChart === 'color-fcr'"></app-color-fcr>
      <app-dextranas-solidos *ngIf="currentChart === 'dextranas-solidos'"></app-dextranas-solidos>
      <app-ph-fcr *ngIf="currentChart === 'ph-fcr'"></app-ph-fcr>
      <app-ton-vapor-cana *ngIf="currentChart === 'ton-vapor-cana'"></app-ton-vapor-cana>
      <app-turbidez-azucar *ngIf="currentChart ==='turbidez-azucar'"></app-turbidez-azucar>
      <app-clima-dia *ngIf="currentChart === 'clima-dia'"></app-clima-dia>
      <app-clima-semana *ngIf="currentChart === 'clima-semana'"></app-clima-semana>
      <app-eficiencia-fabrica *ngIf="currentChart === 'eficiencia-fabrica'"></app-eficiencia-fabrica>
      <app-cachaza-cana *ngIf="currentChart === 'cachaza-cana'"></app-cachaza-cana>
      <app-cana-molida *ngIf="currentChart === 'cana-molida'"></app-cana-molida>
      <app-dextranas-brix *ngIf="currentChart === 'dextranas-brix'"></app-dextranas-brix>
      <app-perdidas-cana *ngIf="currentChart === 'perdidas-cana'"></app-perdidas-cana>
      <app-pol-cana *ngIf="currentChart === 'pol-cana'"></app-pol-cana>
      <app-pza-jugo-mezclado-tierra *ngIf="currentChart === 'pza-jugo-mezclado-tierra'"></app-pza-jugo-mezclado-tierra>
      <app-cortadores *ngIf="currentChart === 'cortadores'"></app-cortadores>
      <app-frescura-hora *ngIf="currentChart === 'frescura-hora'"></app-frescura-hora>
      <app-perdidas-cosechamiento *ngIf="currentChart === 'perdidas-cosechamiento'"></app-perdidas-cosechamiento>
      <app-ph-acm *ngIf="currentChart === 'ph-acm'"></app-ph-acm>
      <app-ph-tratado *ngIf="currentChart === 'ph-tratado'"></app-ph-tratado>
      <app-masa-cocida *ngIf="currentChart === 'masa-cocida'"></app-masa-cocida>
      <app-rendimiento-cristales-semana *ngIf="currentChart === 'rendimiento-cristales-semana'"></app-rendimiento-cristales-semana>
      <app-recirculacion *ngIf="currentChart === 'recirculacion'"></app-recirculacion>
      <app-comparativo-abl *ngIf="currentChart === 'comparativo-abl'"></app-comparativo-abl>
      <app-comparativo-ton-solidos *ngIf="currentChart === 'comparativo-ton-solidos'"></app-comparativo-ton-solidos>
      <app-consumo-bagazo-astilla *ngIf="currentChart === 'consumo-bagazo-astilla'"></app-consumo-bagazo-astilla>
      <app-consumo-agua-m3 *ngIf="currentChart === 'consumo-agua-m3'"></app-consumo-agua-m3>
      <app-consumo-agua-lts *ngIf="currentChart === 'consumo-agua-lts'"></app-consumo-agua-lts>
      <app-consumo-gral-agua *ngIf="currentChart === 'consumo-gral-agua'"></app-consumo-gral-agua>
      <app-descarga-gral-agua *ngIf="currentChart === 'descarga-gral-agua'"></app-descarga-gral-agua>
      <app-pol-descarga-fabrica *ngIf="currentChart === 'pol-descarga-fabrica'"></app-pol-descarga-fabrica>
      <app-ph-descarga-fabrica *ngIf="currentChart === 'ph-descarga-fabrica'"></app-ph-descarga-fabrica>
      <app-pol-agua-torre *ngIf="currentChart === 'pol-agua-torre'"></app-pol-agua-torre>
      <app-ph-agua-torre *ngIf="currentChart === 'ph-agua-torre'"></app-ph-agua-torre>
      <app-ton-pol-perdidas *ngIf="currentChart === 'ton-pol-perdidas'"></app-ton-pol-perdidas>
      <app-frescura-rsd *ngIf="currentChart === 'frescura-rsd'"></app-frescura-rsd>
      <app-ton-cana-imbibicion *ngIf="currentChart === 'ton-cana-imbibicion'"></app-ton-cana-imbibicion>
      <app-cana-mayor *ngIf="currentChart === 'cana-mayor'"></app-cana-mayor>
      <app-cana-accidentada *ngIf="currentChart === 'cana-accidentada'"></app-cana-accidentada>
      <app-cana-corralon *ngIf="currentChart === 'cana-corralon'"></app-cana-corralon>
      <app-fibra-pol *ngIf="currentChart === 'fibra-pol'"></app-fibra-pol>
      <app-ton-pol-cachaza *ngIf="currentChart === 'ton-pol-cachaza'"></app-ton-pol-cachaza>
      <app-color-icumsa *ngIf="currentChart === 'color-icumsa'"></app-color-icumsa>
      <app-silos *ngIf="currentChart === 'silos'"></app-silos>
      <app-tamano-grano *ngIf="currentChart === 'tamano-grano'"></app-tamano-grano>
      <app-reporte-cosecha *ngIf="currentChart === 'reporte-cosecha'"></app-reporte-cosecha>
      <app-rangos-frescura *ngIf="currentChart === 'rangos-frescura'"></app-rangos-frescura>
    </div>
  </div>
</div>