<div class="container">
  
  <button class="floating-toggle-btn" (click)="toggleSidebar()">
    {{ isSidebarHidden ? '☰' : '✕' }}
  </button>

  
  <div class="sidebar" [class.hidden]="isSidebarHidden">
    <div class="sidebar-header">
      <span class="sidebar-title">Menú</span>
    </div>
    
    <ul class="menu">
      
      <li class="menu-item">
        <div class="menu-header" (click)="toggleMenu('prueba')">
          <span>Prueba</span>
          <span class="menu-icon">{{ isMenuOpen('prueba') ? '▼' : '►' }}</span>
        </div>
        <ul class="submenu" [class.open]="isMenuOpen('prueba')">
          <li (click)="showChart('bar')">Bar Chart</li>
          <li (click)="showChart('line')">Line Chart</li>
          <li (click)="showChart('column')">Column Chart</li>
          <li (click)="showChart('combo')">Combo Chart</li>
          <li (click)="showChart('table')">Table</li>
          <li (click)="showChart('new-bar')">New Bar Chart</li>
          <li (click)="showChart('new-line')">New Line Chart</li>
          <li (click)="showChart('multi-chart')">Multi Chart</li>
          <li (click)="showChart('new-table')">New table</li>
          <li (click)="showChart('stacked-bar-chart')">Stacked-bar-chart</li>
        </ul>
      </li>
      
      
      <li class="menu-item">
        <div class="menu-header" (click)="toggleMenu('clima')">
          <span>Clima</span>
          <span class="menu-icon">{{ isMenuOpen('clima') ? '▼' : '►' }}</span>
        </div>
        <ul class="submenu" [class.open]="isMenuOpen('clima')">
          <li (click)="showChart('clima')">Componente Clima</li>
          <li (click)="showChart('turbidez-jugo-claro')">turbidez-jugo-claro</li>
          <li (click)="showChart('rsd')">rsd</li>
        </ul>
      </li>
    </ul>
  </div>
  
  <div class="content" [class.full-width]="isSidebarHidden">
    <div class="content-container">
      <app-bar-chart *ngIf="currentChart === 'bar'"></app-bar-chart>
      <app-line-chart *ngIf="currentChart === 'line'"></app-line-chart>
      <app-column-chart *ngIf="currentChart === 'column'"></app-column-chart>
      <app-combo-chart *ngIf="currentChart === 'combo'"></app-combo-chart>
      <app-table *ngIf="currentChart === 'table'"></app-table>
      <app-new-bar-chart *ngIf="currentChart === 'new-bar'"></app-new-bar-chart>
      <app-new-line-chart *ngIf="currentChart === 'new-line'"></app-new-line-chart>
      <app-multi-chart *ngIf="currentChart === 'multi-chart'"></app-multi-chart>
      <app-new-table *ngIf="currentChart === 'new-table'"></app-new-table>
      <app-stacked-bar-chart *ngIf="currentChart === 'stacked-bar-chart'"></app-stacked-bar-chart>
      <app-clima *ngIf="currentChart === 'clima'"></app-clima>
      <app-turbidez-jugo-claro-chart *ngIf="currentChart === 'turbidez-jugo-claro'"></app-turbidez-jugo-claro-chart>
      <app-rsd *ngIf="currentChart === 'rsd'"></app-rsd>
    </div>
  </div>
</div>