<div class="container">
  <button class="floating-toggle-btn" (click)="toggleSidebar()">
    {{ isSidebarHidden ? '☰' : '✕' }}
  </button>

  <div class="sidebar" [class.hidden]="isSidebarHidden">
    <div class="sidebar-header">
      <span class="sidebar-title">Menú</span>
    </div>
    
    <ul class="menu">
      <li class="menu-item">
        <div class="menu-header" (click)="toggleMenu('clima')">
          <span>Graficas</span>
          <span class="menu-icon">{{ isMenuOpen('clima') ? '▼' : '►' }}</span>
        </div>
        <ul class="submenu" [class.open]="isMenuOpen('clima')">
          <li *ngFor="let item of menuItems; let i = index" 
              [class.selected]="selectedIndex === i"
              (click)="showChart(item)">
            {{ getDisplayName(item) }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  
  <div class="content" [class.full-width]="isSidebarHidden">
    <div class="content-container">
      <app-inicio *ngIf="currentChart === 'inicio'"></app-inicio>
      <app-line-chart *ngIf="currentChart === 'line'"></app-line-chart>
      <app-column-chart *ngIf="currentChart === 'column'"></app-column-chart>
      <app-combo-chart *ngIf="currentChart === 'combo'"></app-combo-chart>
      <app-table *ngIf="currentChart === 'table'"></app-table>
      <app-new-bar-chart *ngIf="currentChart === 'new-bar'"></app-new-bar-chart>
      <app-new-line-chart *ngIf="currentChart === 'new-line'"></app-new-line-chart>
      <app-multi-chart *ngIf="currentChart === 'multi-chart'"></app-multi-chart>
      <app-new-table *ngIf="currentChart === 'new-table'"></app-new-table>
      <app-stacked-bar-chart *ngIf="currentChart === 'stacked-bar-chart'"></app-stacked-bar-chart>
      <app-turbidez-jugo-claro-chart *ngIf="currentChart === 'turbidez-jugo-claro'"></app-turbidez-jugo-claro-chart>
      <app-rsd *ngIf="currentChart === 'rsd'"></app-rsd>
      <app-rendimiento-cristales *ngIf="currentChart === 'rendimiento-cristales'"></app-rendimiento-cristales>
      <app-molienda *ngIf="currentChart === 'molienda'"></app-molienda>
      <app-bagazo *ngIf="currentChart === 'bagazo'"></app-bagazo>
      <app-imbibicion *ngIf="currentChart === 'imbibicion'"></app-imbibicion>
      <app-reductores *ngIf="currentChart === 'reductores'"></app-reductores>
      <app-ph-claro-filtrado *ngIf="currentChart === 'ph-claro-filtrado'"></app-ph-claro-filtrado>
      <app-ph-desmenuzado-mezclado *ngIf="currentChart === 'ph-desmenuzado-mezclado'"></app-ph-desmenuzado-mezclado>
      <app-ph-promedio *ngIf="currentChart === 'ph-promedio'"></app-ph-promedio>
      <app-reductores-claro-meladura *ngIf="currentChart === 'reductores-claro-meladura'"></app-reductores-claro-meladura>
      <app-reductores-promedio *ngIf="currentChart === 'reductores-promedio'"></app-reductores-promedio>
      <app-brix-meladura *ngIf="currentChart === 'brix-meladura'"></app-brix-meladura>
      <app-pureza-miel-final *ngIf="currentChart === 'pureza-miel-final'"></app-pureza-miel-final>
      <app-molida-produccion *ngIf="currentChart === 'molida-produccion'"></app-molida-produccion>
      <app-molida-rendimiento *ngIf="currentChart === 'molida-rendimiento'"></app-molida-rendimiento>
      <app-sedimentos *ngIf="currentChart === 'sedimentos'"></app-sedimentos>
      <app-pureza-jugo *ngIf="currentChart === 'pureza-jugo'"></app-pureza-jugo>
      <app-rendimiento-cristales-dia *ngIf="currentChart === 'rendimiento-cristales-dia'"></app-rendimiento-cristales-dia>
      <app-color *ngIf="currentChart === 'color'"></app-color>
      <app-bx-pza-miel-final *ngIf="currentChart === 'bx-pza-miel-final'"></app-bx-pza-miel-final>
      <app-color-fcr *ngIf="currentChart === 'color-fcr'"></app-color-fcr>
      <app-dextranas-solidos *ngIf="currentChart === 'dextranas-solidos'"></app-dextranas-solidos>
      <app-ph-fcr *ngIf="currentChart === 'ph-fcr'"></app-ph-fcr>
      <app-ton-vapor-cana *ngIf="currentChart === 'ton-vapor-cana'"></app-ton-vapor-cana>
      <app-turbidez-azucar *ngIf="currentChart ==='turbidez-azucar'"></app-turbidez-azucar>
      <app-clima-dia *ngIf="currentChart === 'clima-dia'"></app-clima-dia>
      <app-clima-semana *ngIf="currentChart === 'clima-semana'"></app-clima-semana>
      <app-eficiencia-fabrica *ngIf="currentChart === 'eficiencia-fabrica'"></app-eficiencia-fabrica>
      <app-cachaza-cana *ngIf="currentChart === 'cachaza-cana'"></app-cachaza-cana>
      <app-cana-molida *ngIf="currentChart === 'cana-molida'"></app-cana-molida>
      <app-dextranas-brix *ngIf="currentChart === 'dextranas-brix'"></app-dextranas-brix>
      <app-perdidas-cana *ngIf="currentChart === 'perdidas-cana'"></app-perdidas-cana>
      <app-pol-cana *ngIf="currentChart === 'pol-cana'"></app-pol-cana>
      <app-pza-jugo-mezclado-tierra *ngIf="currentChart === 'pza-jugo-mezclado-tierra'"></app-pza-jugo-mezclado-tierra>
      <app-cortadores *ngIf="currentChart === 'cortadores'"></app-cortadores>
      <app-frescura-hora *ngIf="currentChart === 'frescura-hora'"></app-frescura-hora>
      <app-perdidas-cosechamiento *ngIf="currentChart === 'perdidas-cosechamiento'"></app-perdidas-cosechamiento>
      <app-ph-acm *ngIf="currentChart === 'ph-acm'"></app-ph-acm>
      <app-ph-tratado *ngIf="currentChart === 'ph-tratado'"></app-ph-tratado>
      <app-masa-cocida *ngIf="currentChart === 'masa-cocida'"></app-masa-cocida>
      <app-rendimiento-cristales-semana *ngIf="currentChart === 'rendimiento-cristales-semana'"></app-rendimiento-cristales-semana>
      <app-recirculacion *ngIf="currentChart === 'recirculacion'"></app-recirculacion>
      <app-comparativo-abl *ngIf="currentChart === 'comparativo-abl'"></app-comparativo-abl>
      <app-comparativo-ton-solidos *ngIf="currentChart === 'comparativo-ton-solidos'"></app-comparativo-ton-solidos>
      <app-consumo-bagazo-astilla *ngIf="currentChart === 'consumo-bagazo-astilla'"></app-consumo-bagazo-astilla>
      <app-consumo-agua-m3 *ngIf="currentChart === 'consumo-agua-m3'"></app-consumo-agua-m3>
      <app-consumo-agua-lts *ngIf="currentChart === 'consumo-agua-lts'"></app-consumo-agua-lts>
      <app-consumo-gral-agua *ngIf="currentChart === 'consumo-gral-agua'"></app-consumo-gral-agua>
      <app-descarga-gral-agua *ngIf="currentChart === 'descarga-gral-agua'"></app-descarga-gral-agua>
      <app-pol-descarga-fabrica *ngIf="currentChart === 'pol-descarga-fabrica'"></app-pol-descarga-fabrica>
      <app-ph-descarga-fabrica *ngIf="currentChart === 'ph-descarga-fabrica'"></app-ph-descarga-fabrica>
      <app-pol-agua-torre *ngIf="currentChart === 'pol-agua-torre'"></app-pol-agua-torre>
      <app-ph-agua-torre *ngIf="currentChart === 'ph-agua-torre'"></app-ph-agua-torre>
      <app-ton-pol-perdidas *ngIf="currentChart === 'ton-pol-perdidas'"></app-ton-pol-perdidas>
      <app-frescura-rsd *ngIf="currentChart === 'frescura-rsd'"></app-frescura-rsd>
      <app-ton-cana-imbibicion *ngIf="currentChart === 'ton-cana-imbibicion'"></app-ton-cana-imbibicion>
      <app-cana-mayor *ngIf="currentChart === 'cana-mayor'"></app-cana-mayor>
      <app-cana-accidentada *ngIf="currentChart === 'cana-accidentada'"></app-cana-accidentada>
      <app-cana-corralon *ngIf="currentChart === 'cana-corralon'"></app-cana-corralon>
      <app-fibra-pol *ngIf="currentChart === 'fibra-pol'"></app-fibra-pol>
      <app-ton-pol-cachaza *ngIf="currentChart === 'ton-pol-cachaza'"></app-ton-pol-cachaza>
      <app-color-icumsa *ngIf="currentChart === 'color-icumsa'"></app-color-icumsa>
      <app-silos *ngIf="currentChart === 'silos'"></app-silos>
      <app-tamano-grano *ngIf="currentChart === 'tamano-grano'"></app-tamano-grano>
      <app-reporte-cosecha *ngIf="currentChart === 'reporte-cosecha'"></app-reporte-cosecha>
      <app-rangos-frescura *ngIf="currentChart === 'rangos-frescura'"></app-rangos-frescura>
      <app-tabla-frescura *ngIf="currentChart === 'tabla-frescura'"></app-tabla-frescura>
      <app-reporte-cana-accidental *ngIf="currentChart === 'reporte-cana-accidental'"></app-reporte-cana-accidental>
      <app-rezasurina *ngIf="currentChart === 'rezasurina'"></app-rezasurina>
      <app-columnas-carbon *ngIf="currentChart === 'columnas-carbon'"></app-columnas-carbon>
      <app-tabla-rendimiento-cyr *ngIf="currentChart === 'tabla-rendimiento-cyr'"></app-tabla-rendimiento-cyr>
      <app-calidad-azucar *ngIf="currentChart === 'calidad-azucar'"></app-calidad-azucar>
      <app-datos-calderas *ngIf="currentChart === 'datos-calderas'"></app-datos-calderas>
      <app-calderas-datos-dia *ngIf="currentChart === 'calderas-datos-dia'"></app-calderas-datos-dia>
      <app-relleno-torre *ngIf="currentChart === 'relleno-torre'"></app-relleno-torre>
      <app-tanque *ngIf="currentChart === 'tanque'"></app-tanque>
      <app-comparativo-bb *ngIf="currentChart === 'comparativo-bb'"></app-comparativo-bb>
      <app-consumo-medidor *ngIf="currentChart === 'consumo-medidor'"></app-consumo-medidor>
      <app-muestreo *ngIf="currentChart === 'muestreo'"></app-muestreo>
      <app-datos-cana *ngIf="currentChart === 'datos-cana'"></app-datos-cana>
      <app-cachaza-clarificadores *ngIf="currentChart === 'cachaza-clarificadores'"></app-cachaza-clarificadores>
      <app-rendimiento-turno *ngIf="currentChart === 'rendimiento-turno'"></app-rendimiento-turno>
      <app-produccion-fn *ngIf="currentChart === 'produccion-fn'"></app-produccion-fn>
      <app-produccion-oficial *ngIf="currentChart === 'produccion-oficial'"></app-produccion-oficial>
      <app-azucar-refundida *ngIf="currentChart === 'azucar-refundida'"></app-azucar-refundida>
      <app-productos-quimicos *ngIf="currentChart === 'productos-quimicos'"></app-productos-quimicos>
      <app-condensados-impuros *ngIf="currentChart === 'condensados-impuros'"></app-condensados-impuros>
      <app-pdf *ngIf="currentChart === 'pdf'"></app-pdf>
    </div>
  </div>
</div>